  <body class = "container">

    <h1 class = "text-left">About</h1>

      <p>As baby boomers age, more and more families are faced with loved ones who may experience health issues such as stroke, Alzheimer’s or other conditions. Many of those loved ones end up in the hospital or in a long term care facility. Busy families struggle to ensure that their ailing family members are receiving the right care and attention. Family members want to be nearby and ensure their loved ones have all the support they need and aren’t all alone.</p>

        <p>In addition, as the mom, sister, son, husband and/or daughter want to stay involved, they may not always be the one around to converse with the physician.  How can the patient information be tracked and accessible for the family members?</p>

        <p>Our application will allow the family members to have a single web based location to track their ailing relative’s calendar.  That way they can schedule times to visit to make sure the loved one is not left alone.  Additionally, the family member present can manually enter any conversation they have with a healthcare provider who gives them an update on the patient’s condition.  The clinician also has the option of adding the information themselves, allowing the conversation to be recorded and uploaded or allowing the information to automatically be pulled in from the hospital EMR.  This facilitates the easy passage of information to all that are involved in the care of the patient and also ensures that they are doing all they can to support that family member.</p>

          <br></br>
          <div class="row">
            <div class="span4">
              <h2>Communicate</h2>
              <p>Enter conversations  with healthcare providers or allow the clinicians to add the information themselves. Automatically upload information directly from the hospital EMR.</p>
              <!--<p><a class="btn" href="#">View details »</a></p> -->
            </div>
            <div class="span4">
              <h2>Schedule</h2>
              <p>Using a central patient calendar, family members can schedule and coordinate their visits. They can also track important patient events such as surgeries or physical therapy. </p>
                <!--<p><a class="btn" href="#">View details »</a></p> -->
           </div>
            <div class="span4">
              <h2>Track</h2>
              <p> Add and track important tasks related to the patient progress.  Add reminders to schedule follow up appointments with schedules or coordinate transportation to upcoming events. </p>
             <!--   <p><a class="btn" href="#">View details »</a></p> -->
            </div>
          </div>

  </body>

