<h1>New Engagement</h1>

<br></br>

<%= form_tag(engagements_url, method: 'post') do %>


  <div>
    <%= label_tag :condition_id %>
    <%= number_field_tag :condition_id %>
  </div>

  <br></br>

  <div>
    <%= submit_tag "Create Engagement" %>
  </div>
<% end %>

