

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <a class ="span6"><img src="assets/familywdr.jpg"/ class="thumbnail" alt="" width="500" height="500"></a>
    <h2 class ="span4" style="text-align:center">CareApp Two</h2>
    <br></br>
    <p class ="span4">Do you have a family member or loved one in the hospital?  Ever worry that you are missing valuable information on the progress of their care? Enroll now in CareApp to learn more.</p>
    <br></br>
    <p><a href="/about" class="btn btn-primary btn-large offset1">Learn more »</a></p>
    
</div>
