<h1>Engagement #<%= @engagement.id %></h1>

<p>
  <b>Case:</b>
  <%= @engagement.case_id %>
</p>

<p>
  <b>User:</b>
  <%= @engagement.user_id %>
</p>

<p>
  <b>Condition:</b>
  <%= @engagement.condition_id %>
</p>


