<h1>Condition #<%= @condition.id %></h1>

<p>
  <b>Condition:</b>
  <%= @condition.condition_id %>
</p>

<p>
  <b>Condition name:</b>
  <%= @condition.condition_name %>
</p>

<p>
  <b>Resource:</b>
  <%= @condition.resource %>
</p>


